@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

/* font-family: 'Raleway', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #40514E;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

.header {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 2em;
    text-align: center;
    color: #10192ad6;
}

.header img {
    max-width: 150px;
    padding: 10px;
    background: white;
    border-radius: 50%;  
    margin-bottom: 1.5em;
}

.title {
    padding: 1em 0;
}

h1 {    
    font-size: 2em;
    text-transform: uppercase;
    /* color: #1C9C94;  */
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

.about {
    padding: 1em;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
}

a {
    color: #10192ad6;
    text-decoration: none;
}

a:hover {
    color: #1692b9;
    transition: linear 0.15s;
}

.mail,
.phone {
    margin: 0 1em 1em 1em;
}

.fab {
    border: 1px solid #10192ad6;
    border-radius: 50%;
    font-size: 1.5em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    margin: 5px;
    text-align: center;
}

.fas {
    margin-right: 0.5em;
}

.info {
    padding: 1.5em;
}

.summary {
    display: flex;
    justify-content: center;
    align-items: start;    
}

.skills {
    display: flex;
    justify-content: start;
    align-items: start;
}

.skills-title {
    padding-right: 2.8em;
}

h3 {
    /* color: #1C9C94; */
    color: #1692b9;
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 2em;
}

.description {
    line-height: 1.8;
}

ul {
    line-height: 1.8;
}
